<h1>chat</h1>

<section class="container-fluid d-flex flex-column align-items-center">
  <div style="width: 50%; height: 400px; border-bottom: 3px black;" class="bg-body-secondary" >
    <p id="outputData" style="height: 100%; margin: 0;">

    </p>
  </div>


  <div class="input-group mb-3 " style="width: 50%;">
    <button class="btn btn-outline-secondary" type="button" id="inputButton">Enviar</button>
    <input type="text" class="form-control" id="inputData" placeholder="" aria-label="Example text with button addon"
      aria-describedby="button-addon1" style="overflow: auto;">
  </div>

</section>

<script>
  const userName = "{{user}}";
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>
