<section class="d-flex justify-content-center bg-success-subtle flex-column" id="headerProduct">
    <h1 class="d-flex justify-content-center bg-success-subtle ">Nuevo Producto</h1>
    <div class="d-flex container-fluid justify-content-between align-items-center" {{!-- style="padding-left: 20px;"
        --}}>
        <div style="padding-left: 20px;" class="d-flex flex-column align-items-center">
            <a href="/current" style="color: black;">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                    class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />

                </svg>
            </a>
            <p>{{firstName}} {{lastName}}</p>

        </div>
        <button type="button" class="btn btn-secondary" id="logoutButton" style="height: 50%;">Cerrar sesion</button>
    </div>
</section>

<div class="mb-3">

</div>
<form class="row g-3" method="post" action="api/products">
    <div class="col-md-4">
        <label for="title" class="form-label">titulo</label>
        <input type="text" class="form-control" id="title" placeholder="title" name="title">
    </div>
    <div class="col-md-4">
        <label for="description" class="form-label">Descripción</label>
        <input type="text" class="form-control" id="description" placeholder="description" name="description">
    </div>
    <div class="col-md-4">
        <label for="price" class="form-label">Precio</label>
        <input type="number" class="form-control" id="price" placeholder="price" name="price">
    </div>
    <div class="col-md-4">
        <label for="code" class="form-label">Codigo</label>
        <input type="number" class="form-control" id="code" placeholder="code" name="code">
    </div>
    <div class="col-md-4">
        <label for="stock" class="form-label">Stock</label>
        <input type="number" class="form-control" id="stock" placeholder="stock" name="stock">
    </div>
    <div class="col-md-4">
        <label for="category" class="form-label">Categoria</label>
        <input type="text" class="form-control" id="category" placeholder="category" name="category">
    </div>

    <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>