<section class="d-flex justify-content-center bg-success-subtle flex-column" id="headerProduct">
    <h1 class="d-flex justify-content-center bg-success-subtle ">Perfil</h1>
    <div style="margin-left: 20px;">
        <button type="button" class="btn btn-secondary" style="height: 50%; w"><a href="/products"
                style="text-decoration: none; color: white;">Volver</a></button>
    </div>

</section>

<section class="d-flex flex-column container justify-content-center" style="width: 50%; height: 700px">
    <div class="input-group input-group-lg" style="margin: 20px 0;">
        <span class="input-group-text" id="inputGroup-sizing-lg">Nombre</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg" value="{{first_name}}" readonly>
    </div>

    <div class="input-group input-group-lg" style="margin: 20px 0;">
        <span class="input-group-text" id="inputGroup-sizing-lg">Apellido</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg" value="{{last_name}}" readonly>
    </div>

    <div class="input-group input-group-lg" style="margin: 20px 0;">
        <span class="input-group-text" id="inputGroup-sizing-lg">Email</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg" value="{{email}}" readonly>
    </div>

    <div class="input-group input-group-lg" style="margin: 20px 0;">
        <span class="input-group-text" id="inputGroup-sizing-lg">Edad</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg" value="{{age}}" readonly>
    </div>

    <div>
          <button type="button" class="btn btn-success" style=" margin: 10px;"><a href="/api/mailing/sendMail"
                        style="text-decoration: none; color: white;">Cambiar contraseña</a></button>
    </div>
</section>