<section class="d-flex justify-content-center bg-success-subtle flex-column" id="headerProduct">
    <h1 class="d-flex justify-content-center bg-success-subtle ">Error al iniciar sessión</h1>
    <div style="padding-left: 20px;">
        <button type="button" class="btn btn-secondary" id="logoutButton"><a href="/login">Volver a loguearse</a></button>
    </div>
</section>