<section class="registro" id="card-registro">
    <div class="frente d-flex fw-bold" id="fren">
        <div class="registro-foto" id="contenido1">
            <img src="/img/foto-login.jpg" alt="foto de fondo floral" id="frente-foto-img">
        </div>
        <form class="login fw-bold" id="contenido2" method="post" action="api/session/login">
            <h5>Bienvenido</h5>

            <input class="form-login" type="email" placeholder="mail" aria-label=".form-control-sm example" id="email" name="email"
                value="" required>
            <input id="userPassword" class="form-login" type="password" placeholder="password" name="password"
                aria-label=".form-control-sm example" required>
            <button type="submit" class="btn btn-success " id="logi">login</button>
            <button type="button" class="btn btn-success" ><a href="/api/session/github" style="text-decoration: none; color: white;">Iniciar session con github</a></button>
            

        </form>
    </div>
</section>

<script src="js/login.js"></script>


{{!-- seguir en 1:10hr de video  --}}