<section class="registro" id="card-registro">
    <div class="reversa d-flex fw-bold" id="reve">
        <form class="login" method="post" action="api/session/register">
            <input id="first_name" class="form-login" type="text" placeholder="nombre" aria-label=".form-control-sm example"
               name="first_name" required>
            <input id="last_name" class="form-login" type="text" placeholder="apellido" aria-label=".form-control-sm example"
                name="last_name" required>
            <input id="email" class="form-login" type="email" placeholder="email" aria-label=".form-control-sm example"
               name="email" required>
            <input id="ege" class="form-login" type="number" placeholder="edad" name="ege" required>
            <input id="password" class="form-login" type="password" placeholder="contraseña"
                aria-label=".form-control-sm example" name="password" required>
            <button type="submit" class="btn btn-success" id="singUp">Registrarse</button>
        </form>

        <div class="registro-foto">
            <img src="/img/foto-login.jpg" alt="foto de fondo floral" id="frente-foto-img">
        </div>
    </div>
</section>

<script src="js/register.js"></script>