<form class="login" method="post" action="api/session/restorePassword">
    <input id="email" class="form-login" type="email" placeholder="email" aria-label=".form-control-sm example"
        name="email" required>
    <input id="password" class="form-login" type="password" placeholder="contraseña"
        aria-label=".form-control-sm example" name="password" required>
    <button type="submit" class="btn btn-success" id="singUp">Registrarse</button>
</form>